img {
    -ms-interpolation-mode : bicubic;
}


body.sfpg {
    background : #000000;
    color: #aaaaaa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    padding:0;
    overflow:hidden;
}

body.prepare {
    overflow:visible;
}

body.sfpg a:active, body.sfpg a:link, body.sfpg a:visited, body.sfpg a:focus {
    color :  #ffffff;
    text-decoration : none;
}

body.sfpg a:hover {
    color :  #aaaaaa;
    text-decoration : none;
}

table {
    font-size: 13px;
    height:100%;
    width:100%;
}

table.info td {
    padding : 10px;
    vertical-align : top;
}

table.sfpg_disp {
    text-align : center;
    padding: 0;
}

table.sfpg_disp td.menu {
    background : #000000;
    border-top : 1px solid #303030;
    vertical-align : middle;
    white-space: nowrap;
}

table.sfpg_disp td.navi {
    height: 38px;
    background : #202020;
    border-top : 1px solid #303030;
    vertical-align : middle;
    white-space: nowrap;
}

table.sfpg_disp td.mid {
    vertical-align : middle;
}

.sfpg_info_text, .loading {
    border-radius: 3px;
    background : #000000;
    border : 1px solid #606060;
    color : #aaaaaa;
    padding : 1px 4px 1px 4px;
    width : 200px;
}

.loading {
    padding : 20px 20px 20px 20px;
    margin-right: auto;
    margin-left: auto;
}

.sfpg_button, .sfpg_button_hover, .sfpg_button_on, .sfpg_button_nav, .sfpg_button_disabled {
    border-radius: 3px;
    cursor : pointer;
    background :#000000;
    border : 1px solid #808080;
    color : #aaaaaa;
    padding : 5px 7px;
    margin : 0px 5px;
    white-space: nowrap;
    font-size: 14px;
}

.sfpg_button_hover {
    background : #ffffff;
    color : #000000;
}

.sfpg_button_on {
    background : #aaaaaa;
    color : #000000;
}

.sfpg_button_disabled {
    cursor : default;
    border : 1px solid #000000;
    background :#000000;
    color : #505050;
}

.sfpg_button_nav {
    border : 1px solid  #404040;
    background:#101010;
    color:#808080;
}

.thumbbox, .descbox {
    vertical-align : top;
    display:-moz-inline-stack;
    display:inline-block;
    *display:inline;
    width: 198px;
    height: 172px;
    margin: 0;
    padding: 0;
}

.descbox {
    width: 396px;
}

.thumbimgbox {
    width: 182px;
    height: 138px;
    margin: 0;
    padding: 0;
}

.innerboxdir, .innerboximg, .innerboxfile, .innerboxdir_hover, .innerboximg_hover, .innerboxfile_hover {
    border-radius: 5px;
    cursor:pointer;
    margin: 7px;
    padding: 0;
    width: 184px;
    height: 158px;
}

.innerboxdesc {
    text-align : left;
    overflow:auto;
    border-radius: 3px;
    margin: 7px;
    padding: 5px;
    width: 372px;
    height: 148px;
    border: 1px solid #404040;
    background : #202020;
    color : #aaaaaa;
}

.innerboxdir, .innerboxdir_hover {
    border: 1px solid #505050;
    background :#000000;
    color : #aaaaaa;
}

.innerboximg, .innerboximg_hover {
    border: 1px solid #505050;
    background: #202020;
    color: #aaaaaa;
}

.innerboxfile, .innerboxfile_hover {
    border: 1px solid #404040;
    background : #101010;
    color : #aaaaaa;
}

.innerboxdir_hover {
    background: #303030;
}

.innerboximg_hover {
    background: #303030;
}

.innerboxfile_hover {
    background : #ffffff;
    color : #000000;
}

.full_image {
    cursor:pointer;
    border : 5px solid #ffffff;
}

.thumb {
    border-radius: 3px;
    margin: 5px;
    border : 1px solid #606060;
}

.box_image {
    position:absolute;
    bottom:70px;
    right:0;
    z-index:1020;
    overflow:auto;
    visibility:hidden;
    text-align : center;
}

.box_wait {
    position:absolute;
    bottom:70px;
    right:0;
    z-index:1015;
    overflow:auto;
    visibility:hidden;
    text-align : center;
}

.box_navi {
    position:absolute;
    bottom:0;
    left:0;
    height:90px;
    width:100%;
    z-index:1120;
    overflow:hidden;
    text-align : center;
}

.box_info {
    border-radius: 3px;
    position:absolute;
    top:10px;
    left:10px;
    width: 250px;
    z-index:1040;
    visibility:hidden;
    overflow:auto;
    border : 1px solid  #404040;
    background: #101010;
}

.box_overlay {
    position:absolute;
    bottom: 70px;
    left:0;
    height:100%;
    width:100%;
    z-index:1010;
    overflow:hidden;
    visibility:hidden;
    background: #000000;
}

.box_gallery {
    text-align:center;
    position:absolute;
    top:0;
    right:0;
    z-index:1000;
    overflow:auto;
}

.locked_bg{
    display: block;
    background-image: url(./../images/lock.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 184px;
    height: 138px;
    z-index: 1000;
    position: absolute;
}
.folder{
    background-image: url(./../images/folder.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 184px;
    height: 138px;
    z-index: 900;
    position: absolute;
}

.thumbbox-dir .innerboxdir,
.thumbbox-dir .innerboxdir_hover {
    border:0px solid #000000;
}

.box_preload_gallery{
    display: block;
    width: 100%;
}

.preload_thumb{
    max-width: 100px;
    max-height: 120px;
}

.preload_preview{
    max-width: 100px;
    max-height: 120px;
}

.thumbbox_prepare{
    width: 298px;
}

.thumbbox_prepare .innerboximg{
    width: 284px;
    overflow: hidden;
}

.thumbbox_prepare .thumbimgbox{
    width: 282px;
}

.prepare_loading{
    display: block;
    margin: 8px;
    width: 170px;
    height: 127px;
    background-image: url(./../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
}